div {
    border: solid 3px dodgerblue;
    margin: 5px;
}

.my-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.leftside {
    width: 30%;
}

.rigthside {
    width: 70%;
}
